/* App.css */

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-container {
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  background-color: lightblue;
  padding: 30px;
  text-align: center;
}

.h4 {
  background-color: lightgreen;
  padding: 10px;
}

.h3 {
  background-color: lightgray;
  padding: 10px;
}

.sidenav {
  width: 20%;
  background-color: lightcoral;
  padding: 200px;
}

.footer {
  background-color: lightgray;
  padding: 30px;
  width: 100%;
  text-align: center;
}
